{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ExpedienteSys - {% block title %}{% endblock %}</title>
        <link href="{% static 'css/plugins/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/plugins/font-awesome/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/plugins/custom.css' %}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link href="{% static 'css/plugins/alertify/alertify.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/plugins/alertify/alertify.bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/plugins/select/select.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/plugins/datetimepicker/datetimepicker.min.css' %}" rel="stylesheet" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">ExpedienteSys</a>
                </div>
                <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                    {% now "j F Y - H:i" %} | Usuario: {{ user.get_username }}
                </div>
            </nav>
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li class="text-center"><img src="{% static 'img/logo.png' %}" class="user-image img-responsive"/></li>
                        <li><a href="{% url 'expediente:inicio' %}"><i class="fa fa-home fa-3x"></i> Inicio</a></li>
                        <li>
                            <a href="#"><i class="fa fa-desktop fa-3x"></i> Expedientes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{% url 'expediente:listado_expedientes' %}">Listado</a></li>
                                {% if perms.expediente.add_signovital %}<li><a href="{% url 'expediente:listado_signos_vitales' %}">Signos Vitales</a></li>{% endif %}
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list-alt fa-3x"></i> Consultas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{% url 'expediente:listado_consultas' %}">Listado</a></li>
                                <li><a href="{% url 'expediente:listado_constancias' %}">Constancias</a></li>
                                <li><a href="{% url 'expediente:listado_incapacidades' %}">Incapacidades</a></li>
                                <li><a href="{% url 'expediente:listado_referencia_medica' %}">Referencias</a></li>
                                <li><a href="{% url 'expediente:listado_recetas' %}">Recetas Medicas</a></li>
                                <li><a href="{% url 'expediente:listado_ordenes_examen' %}">Ordenes de Examenes Medicos</a></li>
                                <li><a href="{% url 'expediente:listado_examenes' %}">Resultados Examenes</a></li>
                            </ul>
                        </li>
                        {% if perms.auth.add_permission %}
                        <li>
                            <a href="#"><i class="fa fa-users fa-3x"></i> Empleados<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{% url 'expediente:listado_empleados' %}">Listado</a></li>
                                <li><a href="{% url 'expediente:listado_turnos' %}">Turnos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-3x"></i> Catalogos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{% url 'expediente:listado_tipo_examen' %}">Tipos Examenes</a></li>
                                <li><a href="{% url 'expediente:listado_especialidades_empleados' %}">Especialidades Empleados</a></li>
                                <li><a href="{% url 'expediente:alergia_listar' %}">Alergias</a></li>
                                <li><a href="{% url 'expediente:listado_enfermedades' %}">Enfermedades</a></li>
                                <li><a href="{% url 'expediente:listado_medicamentos' %}">Medicamentos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-ambulance fa-3x"></i> Clinicas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{% url 'expediente:listado_clinicas' %}">Listado</a></li>
                                <li><a href="{% url 'expediente:listado_tipo_clinicas' %}">Tipos</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="{% url 'cerrar_sesion' %}"><i class="fa fa-sign-out fa-3x"></i> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" >
                <div id="page-inner">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/plugins/jquery/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/jquery/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'js/plugins/custom.js' %}"></script>
        <script src="{% static 'js/plugins/alertify/alertify.min.js' %}"></script>
        <script src="{% static 'js/personalizaciones/alertify.js' %}"></script>
        <script src="{% static 'js/plugins/select/select.min.js' %}"></script>
        <script src="{% static 'js/plugins/datetimepicker/datetimepicker.min.js' %}"></script>
        <script src="{% static 'js/plugins/datetimepicker/locales/bootstrap-datetimepicker.es.js' %}"></script>
        <script src="{% static 'js/personalizaciones/datetimepicker.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                {% if mensaje_error %}
                alertify.error("{{ mensaje_error }}");
                {% endif %}
                {% if mensaje_exito %}
                alertify.success("{{ mensaje_exito }}");
                {% endif %}
            });
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>
