{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}Listado de Enfermedades{% endblock %}
{% block css %}
<link href="{% static 'css/plugins/dataTables/dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/personalizaciones/datatable.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-header"><i class="fa fa-wheelchair"></i> Listado de Enfermedades</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
            <li><i class="fa fa-wheelchair"></i> Enfermedades</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="dropdown pull-right">
            <a href="registrar" class="btn btn-success">
                <i class="fa fa-plus-square"></i> Nuevo
            </a>
        </div>
    </div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
		{% if enfermedades %}
		<table class="table table-striped table-bordered table-hover table-responsive dataTable">
			<thead>
				<th>Nombre</th>
			</thead>
			<tbody>
				{% for enfermedad in enfermedades %}
				<tr>
					<td>{{ enfermedad.nombreEnfermedad }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No Existen Registros de Enfermedades</p>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/plugins/dataTables/dataTables.min.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/personalizaciones/datatable.js' %}"></script>
{% endblock %}
