{% extends 'base/base.html' %}
{% block title %}Nuevo Empleado{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-header"><i class="fa fa-plus-square"></i> Nuevo Empleado</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'expediente:inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="{% url 'expediente:listado_empleados' %}"><i class="fa fa-user"></i> Empleados</a></li>
            <li><i class="fa fa-plus-square"></i> Nuevo</li>
        </ol>
    </div>
</div>
<form method="post">
	<div class="row">
		{% csrf_token %}
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Datos Personales</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						{{ persona.as_p }}
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Datos de Empleado</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						{{ empleado.as_p }}
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="submit">
			<i class="fa fa-floppy-o"></i> Guardar
		</button>
		<a href="{% url 'expediente:listado_empleados' %}" class="btn btn-danger">
			<i class="fa fa-times-circle"></i> Cancelar
		</a>
	</div>
</form>
{% endblock %}
